/*
Copyright 2017 Dora Tomljenovic <dxt5777>.
HTML and CSS referenced: Prof.Kristina Marasovic
Helped by: Toni Golac

Date: September,25
 */


.col-1 {width: 8%; }
.col-2 {width: 17%; }
.col-3 {width: 25%; }
.col-4 {width: 33%; }
.col-5 {width: 42%; }
.col-6 {width: 50%; }
.col-7 {width: 58%; }
.col-8 {width: 67%; }
.col-9 {width: 75%; }
.col-10 {width: 83%; }
.col-11 {width: 92%; }
.col-12 {width: 100%; }

[class*="col-"]{
    
    float: left;
    padding: 20px;
    margin-left: 40px; 
      
}

.row{
    
    width: 100%;
    margin: 2.3em auto;
    
    
}

.row::after{
    
    content: "";
    display: block;
    clear: both;
    
}


